body{
    margin: 0;
    padding: 0;
}

.wrapper{
  display: flex;
  align-items: stretch;
  width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows-Into-Light&display=swap');

h1{
    color: whitesmoke;
    text-align: left;
    font-size: 47px;
}

h2{
  color: white;
  font-size: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-top: 15px;
}

h3{
    color: white;
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 15px;
}

p1{
  display: inline-flexbox;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}

p2 {
  display: inline-flexbox;
  color: black;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

p3 {
  display: inline-flexbox;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-left: 5px;
  padding-right: 5px;
}



#card{
    background-color: #0275d8;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* #sidebar {
  min-width: 200px;
  max-width: 200px;
  min-height: 100vh;
  background: #0275d8 ;
  color: black;
} */

#sidebar .sidebar-header {
  text-align: center;
  padding: 10px;
  color: white;
  font-family: 'Indie Flower', sans-serif;
  font-size: 30px;
  height: 85px;
}


#sidebar a {
text-decoration: none;
size: 70px;
padding: 10px;
font-size: 20px;
color: whitesmoke;
display: block;
background-color: #0275d8;

}

#sidebar a:hover {
color:whitesmoke;
background-color: #0275d8;
}

#content{
display: flex;
width: 100%;
}

#cen{
  display: flex;
  justify-content: center;
  justify-content: center;
  text-align: center;
}

#task{
  max-width: 200px;
}
